doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title CAR MUSC
        link(rel="stylesheet", href="css/style.min.css")
    body

        header.header 

            nav.nav 

                .nav__links
                    .nav__item
                        a(href="#") Главная
                    .nav__item
                        a(href="#") Оклейка автомобилей
                    .nav__item
                        a(href="#") Детейлинг автомобилей
                    .nav__item
                        a(href="#") Галерея работ
                .nav__menu 
                    img.nav__image-menu(src="icons/menu.png", alt="menu button")

            .header__main 

                h1.header__title CAR MUSC
                .four-dotes 
                    .dote 
                    .dote 
                    .dote 
                    .dote 
                .header__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae orci urna amet penatibus.
                .header__button.button Наши услуги

            .header__footer 

                .header__card 
                    .header__subtitle адрес:
                    .header__info Lorem ipsum dolor sit amet, consectetur adipiscing elit 
                .header__card 
                    .header__subtitle телефон:
                    .header__info 8 (812) 123-45-67
                    .header__info 8-911-123-45-67
                .header__card 
                    .header__subtitle Режим работы:
                    .header__info пн-пт : 10:00 - 20:00
                    .header__info сб-вск : 12:00 - 20:00

        .main 

            section.achievements

                .container 

                    .achievements__block 

                        .achievements__left

                            h1.achievements__title наши достижения от кубка россии до чемпионатов мира
                            .four-dotes 
                                .dote 
                                .dote 
                                .dote 
                                .dote 
                            .achievements__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Habitant tincidunt aliquam tincidunt pretium sodales. Tristique odio pellentesque et tincidunt posuere arcu purus lobortis risus. Urna, ut amet odio orci magnis praesent ultrices. Praesent malesuada lacus tellus tristique sit at. Sed viverra nulla nam arcu, non iaculis pretium, volutpat. 

                        .achievements__right

                            .achievements__left-side 

                                .achievements__card 
                                    .achievements__number #<span>1</span>
                                    .achievements__info Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dui 
                                .achievements__card 
                                    .achievements__number #<span>6</span>
                                    .achievements__info Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dui 
                                .achievements__card 
                                    .achievements__number #<span>2</span>
                                    .achievements__info Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dui 
                                .achievements__card 
                                    .achievements__number #<span>1</span>
                                    .achievements__info Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dui 

                            .achievements__right-side 

                                .achievements__card 
                                    .achievements__number #<span>4</span>
                                    .achievements__info Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dui 
                                .achievements__card 
                                    .achievements__number #<span>3</span>
                                    .achievements__info Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dui 
                                .achievements__card 
                                    .achievements__number #<span>1</span>
                                    .achievements__info Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dui 
                                .achievements__card 
                                    .achievements__number 
                                        img(src="../icons/cup.png", alt="cup")
                                    .achievements__info Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dui 
            section.slider 
                .slider__left-button 
                    img(src="../icons/slider-button.png", alt="button left")
                .slider__block 
                    .slider__card 
                        .slider__image 
                            img(src="../images/slider1.png", alt="slide 1")
                        .slider__table 
                        .slider__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vulputate laoreet sapien a sit ante.
                    .slider__card 
                        .slider__image 
                            img(src="../images/slider2.png", alt="slide 1")
                        .slider__table 
                        .slider__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vulputate laoreet sapien a sit ante.
                    .slider__card 
                        .slider__image 
                            img(src="../images/slider3.png", alt="slide 1")
                        .slider__table 
                        .slider__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vulputate laoreet sapien a sit ante.
                .slider__right-button 
                    img(src="../icons/slider-button.png", alt="button left")